* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  font-size: 12px;
  padding: 8px 20px;
  background-color: #000;
  border: none;
  border-radius: 8px;
  color: white;
  transition: 0.2s;
}

.btn:active {
  background-color: #555;
}