.products-title {
  text-align: center;
}

.refresh-btn {
  text-align: center;
  margin: 0px auto;
}

.product-card {
  width: 200px;
  margin: 16px auto;
  border: 1px solid #ccc;
}

.product-card img {
  width: 100%;
  object-fit: cover;
}